.footer {
    background-color: #484847;
    color: #fff;
    position: relative;
}
.footer .row{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:space-around;
    padding: 10px;
}
.footer .column .column-title {
    padding: 10px 0 10px 0;
}
.footer .social-medias {
    margin: 5px;
}
.footer .btn-footer {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
.footer .btn-footer:active, .footer .btn-footer:hover, .footer .btn-footer:focus {
    color: #ccc;
    outline: none;
}
.footer .bottom {
    height: 200px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.footer .icon {
    cursor: pointer;
}

.footer .icon:active, .footer .icon:hover, .footer .icon:focus {
    color: #ccc;
}

.footer a {
    color: #fff;
    text-decoration: none;
}